---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "blog";
---

<BaseLayout pageTitle={pageTitle}>
  <h1 class="text-red-300">My astro site</h1>
  <ul>
    <li><a href="/posts/post1/">Post 1</a></li>
    <li><a href="/posts/post2/">Post 2</a></li>
    <li><a href="/posts/post3/">Post 3</a></li>
  </ul>
</BaseLayout>
