---
import BaseLayout from "../layouts/BaseLayout.astro";
// 正規表現でマークダウンファイルを取得している。
const allPosts = await Astro.glob("../pages/posts/*.md");

const pageTitle = "blog";
---

<BaseLayout pageTitle={pageTitle}>
  <h1 class="text-red-300">My astro site</h1>
  <ul>
    <!-- マークダウンのデータが入った配列をmapで展開 -->
    {
      allPosts.map((post) => (
        <li>
          <a href={post.url}>{post.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
